@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400&display=swap');

body { 
    background-color:black;
    font-family:'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    }

a {
    text-decoration: none;
    color: #c4baa0;
    font-size: 20px;
    font-weight: 100;
}

/* Menú */

.logo {width: 15%;}


header {
    background-color:#664A36; display: flex; justify-content: space-between; ;
}

.navBarList {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;

}

.navBarItem {
    display: inline-block;
}

.navLink {
    color: #c4baa0;
    display: inline-block;
    padding: 20px;

}

.navLink:hover {
    background-color: #5b7e73;
}

.active {
    color: #BC6110;
}

/* Main Home */

main {
    min-height: 100vh;
}

.cafeCienfuegos {
    color: #ffffff;
    position: absolute;
    top: 10px;
    left: 50px;
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 15px;
}



.contenedorImagenPrincipal {
    position: relative;
    display: inline-block;
}

.ochoCafes {
    width: 100%;

}

.articleText {
    position: absolute;
    top: 10px;
    left: 10%;
    color: #ffffff;

}

.tresCafes{
    margin-top: 20%;
    width: 750px;
}

.tresCafes:hover {
    width: 800px;
}

.unCafe{
    width: 750px;
    display: flex;  flex-direction: row; 
    justify-content: flex-end;
}

.unCafe:hover {
    width: 800px;
}

h2 {
    color: #ffffff;
    font-size: 64px;
    font-weight: 100;
}

p {
    color: #ffffff;
    font-size: 23px;
    padding: 10%;
    font-weight:lighter;
}


.main {
    display: flex;
    flex: 1;}

article, aside {
    margin-bottom: 12%;
}

.tituloTresCafes {
    margin-top: 25%;
    margin-left: 9%;
}

.tituloUnCafe {
    margin-left: 9%;
}

/* Footer */

footer { 
    width: 100%;
    background-color:#664A36; 
}

footer p {
    padding: 0;
    text-align: center;
    padding: 4rem;
}

/*** SECCIÓN CAFÉ ***/

.bodyCafe {
    background-color: #ffffff;
}